/*comentario en sass y css*/
body {
  background-color: rgba(0, 0, 0, 0.641); }

.divlogo {
  width: 100%;
  background-color: rgba(240, 248, 255, 0.626);
  display: flex;
  justify-content: space-around; }
  .divlogo .logoqueen {
    width: 19%;
    height: 12%; }

.zonanav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.749);
  list-style-type: none;
  flex-wrap: wrap; }
  .zonanav .controlesdenavegacion {
    font-size: 1.3vw;
    list-style-type: none;
    color: white;
    border: 2px #d1bbbb;
    padding: 0 6% 0 6%;
    border-style: solid; }
  .zonanav .controlesdenavegacion:hover {
    transition: 1s;
    background-color: #d1bbbb;
    color: black; }

#historia {
  display: flex;
  justify-self: center; }
  #historia p {
    font-size: 2em;
    font-style: italic;
    color: aliceblue;
    background-color: #353030;
    margin: 13% 0 13% 0; }

.sectionflecha {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 6%; }
  .sectionflecha .flechafijada {
    width: 100%;
    margin-left: auto;
    display: block;
    position: sticky; }

.popularesgrid {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 98%);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3%; }
  .popularesgrid .divyoutubetittles {
    width: 100%;
    height: 13%;
    font-size: 1.5em;
    background-color: beige; }
    .popularesgrid .divyoutubetittles .youtubetittles {
      color: brown; }

#playlist {
  margin: 40% 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly; }

#canciones {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  margin: 8% 0 6% 0; }
  #canciones .navcanciones {
    color: white;
    text-decoration: none; }
    #canciones .navcanciones .masterlistofsongs {
      list-style-type: none;
      margin: 0;
      padding: 0;
      column-count: 2; }
      #canciones .navcanciones .masterlistofsongs .licanciones {
        margin: 3% 0 3% 0; }
        #canciones .navcanciones .masterlistofsongs .licanciones .liespecial {
          margin-top: 2%;
          border-top: dashed; }
        #canciones .navcanciones .masterlistofsongs .licanciones .listofsongs {
          font-size: 150%;
          color: black;
          background-color: rgba(255, 255, 255, 0.845);
          border: 1% black;
          border-style: solid;
          text-decoration: none; }

#nosotros {
  width: 100%;
  background-color: #515151;
  margin: 30% 0 13% 0; }
  #nosotros .defansparafans {
    font-size: 3em;
    color: #81c2f5;
    background-color: rgba(143, 143, 227, 0.445);
    display: flex;
    justify-content: center; }
  #nosotros .sectionfooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around; }
    #nosotros .sectionfooter .navredsocial {
      display: flex;
      justify-content: center; }
      #nosotros .sectionfooter .navredsocial .ulredsocial {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        #nosotros .sectionfooter .navredsocial .ulredsocial .liredsocial {
          width: 30%;
          height: 10%; }
          #nosotros .sectionfooter .navredsocial .ulredsocial .liredsocial .redsocial {
            width: 50%; }
